body {
margin: 20px;
background-image:url("http://3.bp.blogspot.com/-FQjmw118biM/Uhvrw2zFalI/AAAAAAAAOvc/wpjxD7CS0oE/s1600/tatooine-concept-mcquarrie.jpg")
}

table {
    border: 1px;
    border-style: outset;
    border-color: bisque;
    
}